/* Device	    Portrait Pixels	    Landscape Pixels
   iPhone XR	828 x 1792 px	    1792 x 828 px */


/* @media only screen and (max-width: 828px) {
        /*Mobile
        } */


/* @media only screen and (min-width: 829px) {
        /*Desktop
        } */


/* transition: all .2s linear; */

body {
    position: relative;
    color: #1E1E1E;
    font-family: 'Proxima Nova';
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(100% 100% at 50% 0%, #D9EBE9 0%, #798F8C 100%);
    z-index: -1;
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    body {
        padding: 0 50px;
    }
}

b {
    font-weight: 800;
}

a {
    color: inherit;
    text-decoration: none;
}


/*---------------------- typography ----------------------*/

.opacity__text {
    font-family: "DIN Condensed";
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 289px;
    line-height: 267px;
    letter-spacing: -3.5px;
    color: #798F8C;
    mix-blend-mode: normal;
    opacity: 0.51;
    position: relative;
    z-index: 1;
}

.title__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.title__36 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.896144px;
}

.title__32 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.title__24 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.597429px;
}

.title__21 {
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0.65625px;
    text-transform: uppercase;
}

.title__15 {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.373393px;
}

.title__32~.title__15 {
    margin-top: 40px;
}

.title__14 {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.3485px;
}

.text__white {
    color: #fff;
}

.table__text {
    width: 395px;
    font-weight: 800;
    font-size: 74px;
    line-height: 90px;
    letter-spacing: 1.46876px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.table__text div {
    text-align: center;
    padding: 10px;
    width: calc(100% / 3);
}

ul:not(.slider__dots) {
    padding-left: 17px;
}

ul:not(.slider__dots) li {
    font-weight: 600;
    margin-top: 20px;
    list-style-image: url(../img/li.png);
    padding-left: 23px;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .title__24 {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.7px;
    }
    ul:not(.slider__dots) li {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.448072px;
    }
    .table__text {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .title__24 {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.597429px;
    }
    ul:not(.slider__dots) li {
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.298715px;
    }
}


/*---------------------- full page scroll ----------------------*/

section {
    position: relative;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .page__first {
        width: 100vw;
        overflow-x: hidden;
    }
    section {
        padding: 0 20px 0 27px;
    }
    .page__first .slider {
        padding: 50px 0;
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    section {
        padding: 0 20px 0 27px;
    }
    .vertical-scrolling>*,
    .slider>* {
        opacity: 0;
    }
    .slider.slick-active>*,
    .vertical-scrolling.active>* {
        opacity: 1;
        transition: all .25s .5s ease-in-out;
    }
    #fullpage,
    .slick-track {
        transition: none !important;
    }
}


/*---------------------- elements ----------------------*/

.grey__line {
    width: 42px;
    height: 2px;
    background: #D8D8D8;
    margin-bottom: 35px;
}

.border__yellow {
    position: relative;
}

.border__yellow::before {
    content: '';
    position: absolute;
    top: -5%;
    left: 3%;
    width: 119px;
    height: 119px;
    border: 1px dashed #FEC900;
    border-radius: 50%;
    z-index: 2;
}

.border__yellow::after {
    content: '';
    position: absolute;
    top: -5%;
    left: 3%;
    width: 119px;
    height: 119px;
    border: 1px solid #143829;
    border-radius: 50%;
    opacity: 0;
    transition: all .2s ease;
    z-index: 1;
}

.btn__white:hover~.table__text .border__yellow::after {
    opacity: 1;
}

.btn__white:hover~.table__text .border__yellow::before {
    border-width: 2px;
    animation: borderRotate 10s linear infinite;
}

@keyframes borderRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mt__70min {
    margin-top: -70px;
}

.mt__20 {
    margin-top: 20px;
}

.mb__20 {
    margin-bottom: 20px;
}

.mb__20min {
    margin-bottom: -20px;
}

.column__two {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.reverse__blocks {
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .mobile__none {
        display: none;
    }
    .reverse__mobile.column__two {
        flex-direction: column-reverse;
    }
    .column__two {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .desktop__none {
        display: none;
    }
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
     ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .5);
        border: 1px solid #FEC900;
    }
    .title__bg.opacity__text~.column__two>div.pull__down {
        transform: translateY(105%);
    }
    .column__two {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .column__two>div {
        width: calc(40% - 20px);
    }
}


/*---------------------- Header  ----------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3vh 50px;
    z-index: 10;
}

.logo__img {
    position: relative;
    width: 60px;
    height: 54px;
    cursor: pointer;
}

.logo__img img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease;
}

.logo__img:hover img:first-child {
    opacity: 0;
}

.logo__img:hover img:last-child {
    opacity: 1;
    z-index: 1;
}

.logo__slogan {
    margin-left: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.298715px;
    max-width: 209px;
}

.menu__link {
    position: relative;
    display: block;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .2s linear;
}

.menu__link.active,
.menu__link:hover {
    color: #fff;
    border-bottom-color: #FEC900;
}

.menu__link.active {
    cursor: default;
}

.menu__link.active sup,
.menu__link:hover sup {
    color: #FEC900;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .header__info {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        padding: 30px;
    }
    .menu__mobile__btn {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background: #D4E6E4;
        box-shadow: 0px 0px 10px #8DA2A0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu__mobile__btn span {
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #143829;
        margin: 1px;
        transition: all .2s linear;
    }
    .menu__mobile__btn__active span:nth-child(1) {
        border-radius: 0;
        width: 25px;
        transform: rotate(45deg) translate(10px, -9px);
    }
    .menu__mobile__btn__active span:nth-child(2) {
        opacity: 0;
    }
    .menu__mobile__btn__active span:nth-child(3) {
        border-radius: 0;
        width: 25px;
        transform: rotate(-45deg) translate(-10px, -9px);
    }
    .header__menu {
        position: fixed;
        z-index: 49;
        top: 0;
        right: -200%;
        width: 100vw;
        height: 100vh;
        padding-top: 120px;
        background: radial-gradient(100% 100% at 50% 0%, #D9EBE9 0%, #798F8C 100%);
        transition: all .2s linear;
    }
    .header__menu.open__menu {
        right: 0;
    }
    .menu__link {
        font-size: 8vw;
        line-height: 86px;
        text-align: center;
        letter-spacing: -1.44379px;
        text-transform: uppercase;
    }
    .header__menu .opacity__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .header__menu::after {
        content: "";
        position: absolute;
        bottom: 48px;
        left: calc(50% - 70px);
        width: 140px;
        height: 140px;
        background: url(../img/stamps/stamp.svg) no-repeat center center;
        animation: rotatestamp 15s linear infinite;
        z-index: -1;
    }
    @keyframes rotatestamp {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .logo {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .header__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu__link {
        font-size: 14px;
        line-height: 26px;
        margin-left: 58px;
    }
    .menu__link sup {
        top: -1.3em;
        font-weight: inherit;
        font-size: 10px;
    }
}


/*---------------------- end Header  ----------------------*/


/*---------------------- Buttons  ----------------------*/

.btn__close {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 0 0 auto;
    background: url(../img/icons/close.svg) no-repeat center center;
    transition: all .2s linear;
}

.btn__close:hover {
    background: url(../img/icons/close-yellow.svg) no-repeat center center;
}

.btn__white {
    position: relative;
    display: block;
    width: max-content;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.398286px;
    margin-top: 50px;
    cursor: pointer;
}

.btn__white::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: #FEC900;
    border-radius: 0%;
    transition: border-radius .5s ease-in-out;
}

.btn__white:hover::after {
    border-radius: 100%;
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .btn__right {
        margin-left: auto;
        margin-right: 0;
    }
}


/*---------------------- end Buttons  ----------------------*/


/*---------------------- image ----------------------*/

img:not(.sculpture__img),
img:not(img.stamp) {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.sculpture__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

img.stamp {
    width: 140px;
    height: 140px;
}


/* SCULPTURE  */

.stamp {
    position: absolute;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .slider .column__two>div:first-child {
        position: relative;
    }
    .sculpture__img__1~.stamp {
        top: 10.2vh;
        right: 22.8vw;
        z-index: -1;
    }
    .sculpture__img__2~.stamp {
        top: 16.3vh;
        right: 44.8vw;
        z-index: -1;
    }
    .sculpture__img__3~.stamp,
    .sculpture__img__4~.stamp,
    .sculpture__img__5~.stamp,
    .sculpture__img__6~.stamp,
    .sculpture__img__7~.stamp,
    .sculpture__img__10~.stamp,
    .sculpture__img__11~.stamp,
    .sculpture__img__12~.stamp,
    .sculpture__img__13~.stamp,
    .sculpture__img__14~.stamp {
        top: 0;
        right: -40vw;
        z-index: -1;
    }
    .stamp__case {
        bottom: 7.5vh;
        left: 8.3vw;
        z-index: -1;
    }
    .sculpture__img__16~.stamp,
    .sculpture__img__17~.stamp,
    .sculpture__img__18~.stamp,
    .sculpture__img__19~.stamp,
    .sculpture__img__20~.stamp {
        top: 5vh;
        right: 20px;
        z-index: -1;
    }
    .sculpture__img__21~.stamp {
        bottom: 5vh;
        left: 20px;
        z-index: -1;
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .sculpture__img {
        position: absolute;
    }
    .sculpture__img__1 {
        bottom: 5vh;
        right: 32vw;
        width: 17.3vw;
    }
    .sculpture__img__1~.stamp {
        bottom: 5.2vh;
        right: 3.8vw;
    }
    .sculpture__img__2 {
        bottom: 8vh;
        right: 24.7vw;
        width: 20.1vw;
    }
    .sculpture__img__2~.stamp {
        top: 21.7vh;
        right: 19.9vw;
    }
    .sculpture__img__3 {
        bottom: 0vh;
        right: 24.7vw;
        width: 19.8vw;
    }
    .sculpture__img__3~.stamp {
        top: 22vh;
        right: 22vw;
    }
    .sculpture__img__4 {
        bottom: 13vh;
        right: 20.3vw;
        width: 21.1vw;
    }
    .sculpture__img__4~.stamp {
        top: 58vh;
        right: 19.2vw;
    }
    .sculpture__img__5 {
        bottom: 7vh;
        right: 24.3vw;
        width: 12.8vw;
    }
    .sculpture__img__5~.stamp {
        top: 36.1vh;
        right: 33.3vw;
    }
    .sculpture__img__6 {
        bottom: -20vh;
        right: 17vw;
        width: 28.6vw;
    }
    .sculpture__img__6~.stamp {
        top: 74.4vh;
        right: 15.2vw;
    }
    .sculpture__img__7 {
        bottom: -0.4vh;
        right: 22.6vw;
        width: 17.4vw;
    }
    .sculpture__img__7~.stamp {
        bottom: 64.5vh;
        right: 37.3vw;
    }
    .sculpture__img__8 {
        bottom: 5.4vh;
        right: 48.1vw;
        z-index: 2;
        width: 17.3vw;
    }
    .sculpture__img__8~.stamp {
        top: 21.8vh;
        left: 29.6vw;
        z-index: 1;
    }
    .stamp__case {
        bottom: 2.5vh;
        left: 3.3vw;
    }
    .sculpture__img__9 {
        bottom: 8.1vh;
        right: 21.6vw;
        z-index: 0;
        width: 41.5vw;
    }
    .sculpture__img__9~.stamp {
        top: 25.4vh;
        right: 33.3vw;
        z-index: -1;
    }
    .sculpture__img__10,
    .sculpture__img__12 {
        bottom: 0;
        right: -1.1vw;
        width: 54.5vw;
    }
    .sculpture__img__10~.stamp {
        top: 29vh;
        left: 8.4vw;
        z-index: 2;
    }
    .sculpture__img__11,
    .sculpture__img__13,
    .sculpture__img__14 {
        bottom: 0;
        right: -1.1vw;
        width: 58.8vw;
    }
    .sculpture__img__11~.stamp {
        top: 27vh;
        left: 8.4vw;
        z-index: 2;
    }
    .sculpture__img__12~.stamp {
        top: 22.3vh;
        left: 9.4vw;
        z-index: 2;
    }
    .sculpture__img__13~.stamp {
        top: 26vh;
        left: 9.4vw;
        z-index: 2;
    }
    .sculpture__img__14~.stamp {
        top: 29vh;
        left: 9.4vw;
        z-index: 2;
    }
    .sculpture__img__15 {
        bottom: 6.1vh;
        right: 18.2vw;
        z-index: 2;
        width: 32.8vw;
    }
    .sculpture__img__15~.stamp {
        top: 26.5vh;
        right: 35.4vw;
        z-index: 1;
    }
    .sculpture__img__16,
    .sculpture__img__18 {
        bottom: 0;
        left: -1.4vw;
        width: 64.3vw;
    }
    .sculpture__img__16~.stamp {
        top: 9.6vh;
        left: 21.3vw;
        z-index: 2;
    }
    .sculpture__img__17,
    .sculpture__img__19,
    .sculpture__img__20 {
        bottom: 0;
        left: -1.4vw;
        width: 69.1vw;
    }
    .sculpture__img__17~.stamp {
        top: 52.8vh;
        left: 16.5vw;
        z-index: 2;
    }
    .sculpture__img__18~.stamp {
        top: 17.9vh;
        left: 19.9vw;
        z-index: 2;
    }
    .sculpture__img__19~.stamp {
        top: 46.3vh;
        left: 18vw;
        z-index: 2;
    }
    .sculpture__img__20~.stamp {
        top: 35.1vh;
        left: 17.9vw;
        z-index: 2;
    }
    .sculpture__img__21 {
        bottom: 0;
        right: -0.4vw;
        width: 33.5vw;
    }
    .sculpture__img__21~.stamp {
        bottom: 37px;
        left: 3.9vw;
    }
}


/*---------------------- Block ----------------------*/

.block {
    margin: 15px;
    background: #94A9A6;
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.5);
}

.block__img {
    position: relative;
    width: 100%;
    height: 220px;
}

.block__img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.icon__wrap {
    display: flex;
    align-items: center;
}

.icon {
    width: 41px;
    height: 41px;
    object-fit: contain;
    margin: 0 10px 34px 10px;
}


/* on landing page  */

.block__wrap__horizontal {
    display: flex;
    align-items: stretch;
    width: 100vw;
    overflow-x: auto;
    margin-left: -30px;
}

.block__wrap__horizontal .icon__wrap {
    justify-content: center;
}

.block__wrap__horizontal .title__21 {
    text-align: center;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s linear;
}

.block__wrap__horizontal .block:hover .title__21 {
    color: #fff;
}

.block__wrap__horizontal .block__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: all .2s linear;
}

.block__wrap__horizontal .block:hover .block__img::after {
    height: 0;
}

.block__wrap__horizontal p {
    margin: 0;
}


/* on secondary page  */

.block__yellow {
    position: relative;
    background: #E1B90B;
}

.block__yellow .block__padding {
    position: relative;
    z-index: 2;
}

.block__yellow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: #94A9A6;
    transition: all .2s linear;
    z-index: 1;
}

.block__yellow:hover::after {
    height: 0;
}

.block__yellow .title__36 {
    position: absolute;
    top: -46px;
    left: 40px;
}

.block__img__mini {
    height: 180px;
}

.block__img__mini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block p {
    margin: 0;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .block__padding {
        padding: 30px;
    }
    /*---*/
    .block__wrap__horizontal {
        padding-left: 5px;
        justify-content: flex-start;
    }
    .block__wrap__horizontal .block {
        width: 316px;
        min-width: 316px;
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .block__padding {
        padding: 40px;
    }
    /*---*/
    .block__wrap__horizontal {
        padding-left: 50px;
        justify-content: center;
    }
    .block__wrap__horizontal .block {
        width: 372px;
        min-width: 372px;
    }
    .block__wrap__flex {
        display: flex;
        flex-wrap: wrap;
    }
    .block__wrap__flex .block {
        width: calc(25% - 30px);
    }
    .block__wrap__flex>.block:nth-child(2) {
        width: calc(50% - 30px);
    }
    .block__wrap__mini {
        width: 50%;
    }
    .block__wrap__mini {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .block__wrap__mini .block {
        width: calc(50% - 30px);
    }
    .block__wrap__mini .block:nth-child(1) {
        width: 100%;
    }
}


/*---------------------- end Block  ----------------------*/


/*---------------------- SLIDER  ----------------------*/

.page__secondary .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* arrows */

.slider__arrow {
    position: absolute;
    width: 47px;
    height: 47px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all .2s linear;
    cursor: pointer;
    z-index: 9;
}

.slider__wrap .slider__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.slider__arrow__prev::before {
    content: "⟵";
}

.slider__arrow__next::before {
    content: "⟶";
}

.slider__arrow__prev::before,
.slider__arrow__next::before {
    color: #fff;
    font-size: 100%;
    display: flex;
    align-items: center;
    width: 17px;
    height: 100%;
    margin: 0 auto;
    transition: all .2s linear;
}

.slider__arrow:hover {
    border-color: #E1B90B;
}

.slider__arrow:hover::before {
    color: #E1B90B;
}


/* dots */

.slider__dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 9;
}

.slider__dots li {
    display: block;
    width: 11px;
    height: 11px;
    background: #475B4C;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: all .2s linear;
}

.slider__dots li.slick-active {
    background: #E1B90B;
}

.slider__dots button {
    display: none;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .page__secondary .slider__wrap,
    .page__secondary .slick-slide {
        height: 90vh;
    }
    .page__secondary .slider__arrow__prev {
        left: 20px;
    }
    .page__secondary .slider__arrow__next {
        right: 20px;
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .page__secondary .slider__wrap,
    .page__secondary .slick-slide {
        height: 962px;
    }
    .page__first .slider__wrap,
    .page__first .slick-slide {
        height: 100vh;
        position: relative;
    }
    .slider__verticle .slider__arrow__prev {
        top: 50%;
        right: 57px;
        transform: rotate(90deg) translateX(-65%);
    }
    .slider__verticle .slider__arrow__next {
        top: 50%;
        right: 57px;
        transform: rotate(90deg) translateX(65%);
    }
    .page__secondary .slider__arrow__prev {
        left: 53px;
    }
    .page__secondary .slider__arrow__next {
        right: 53px;
    }
}


/*---------------------- end SLIDER  ----------------------*/


/* FAQ  */

.slide__block {
    background: #94A9A6;
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.5);
    margin-bottom: 22px;
    cursor: pointer;
}

.slide__block__title {
    position: relative;
    font-weight: 800;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.373393px;
}

.slide__block__title::before,
.slide__block__title::after {
    content: '';
    position: absolute;
    background: #fff;
}

.slide__block__title::before {
    width: 20px;
    height: 1px;
    top: 9px;
}

.slide__block__title::after {
    width: 1px;
    height: 20px;
    top: 0;
    transition: all .2s linear;
}

.slide__block__content {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.373393px;
    height: 0;
    opacity: 0;
}

.slide__block.slide__block__open .slide__block__content {
    height: initial;
    opacity: 1;
    transition: opacity .5s .2s linear;
}

.slide__block.slide__block__open .slide__block__title::after {
    opacity: 0;
}

@media only screen and (max-width: 828px) {
    /*Mobile*/
    .slide__block {
        padding: 24px 24px 13px 68px;
    }
    .slide__block__title::before {
        left: -46px;
    }
    .slide__block__title::after {
        left: -38px;
    }
}

@media only screen and (min-width: 829px) {
    /*Desktop*/
    .slide__block__wrap {
        max-width: 1145px;
        margin: 0 auto;
        max-height: 80vh;
        overflow-y: auto;
        padding: 10px 10px 10px 20px;
        cursor: grab;
    }
    .slide__block {
        padding: 35px 35px 20px 128px;
    }
    .slide__block:last-child {
        margin-bottom: 0;
    }
    .slide__block__title::before {
        left: -69px;
    }
    .slide__block__title::after {
        left: -60px;
    }
}


/* end FAQ  */